body {
  background-color: rgb(40, 40, 51);
}

.maindiv {
  width: 700px;
  height: 450px;
  background-color: rgb(19, 19, 19);
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  font-family: 'Ubuntu', sans-serif;
}

.div1 {
  background: linear-gradient(130deg, #86EBEF, #5D5ECB);
}

.div2 {
  grid-template-columns: 100%;
  grid-template-rows: 40% 30% 30%;
}

.weaklyweather {
  grid-template-columns: 25% 75%;
}

#setlocation {
  width: 40px;
  height: 40px;
  font-size: 23px;
  cursor: pointer;
}

#setlocation:focus {
  outline: 2px solid white;
}

#searchlocation:focus {
  outline: none;
}

#setlocation,
#searchlocation {
  box-shadow: 0 0 30px #4a4b84;
  background: linear-gradient(130deg, #86EBEF, #5D5ECB);
}
